{% extends 'base/base.html' %}

{% block title %}blog{% endblock title %}

{% block content %}

<a href="{% url 'blog:create-blog' %}" class="btn btn-primary mt-3" >Create New Blog</a>

<div class="d-flex flex-wrap gap-1 w-100 p-1 mb-3" >

    {% if blogs.count < 1 %}
      <h1>Coming soon</h1>
    {% else %}

      {% for blog in blogs %}
          <div class="card" style="width: 33%">
            <div class="row g-0">
              <div class="col-6 col-md-7">
                <img src="./prac/dininftable.jpeg" class="card-img img-fluid rounded-start" alt="" />
              </div>
              <div class="col-6 col-md-5">
                <div class="card-body d-flex flex-column">
                  <div class="h-100">
                    <h4 class="h4">{{blog.title}}</h4>
                    <small class="badge bg-secondary rounded-pill" >By: @{{blog.author}}</small>
                    <h5 class="category">{{blog.get_topic_display}}</h5>
                    
                    <a href="{% url 'payments:payments-page' blog.id %}" class="btn btn-success btn-sm mb-2">Buy $<strong>{{ blog.get_price }}</strong></a>
                  </div>
                  <a href="{% url 'blog:blog-detail' blog.slug %}" class="btn btn-outline-primary" >
                    Read More
                  </a>
                </div>
              </div>
            </div>
          </div>
      {% endfor %}
    {% endif %}
</div>

{% endblock content %}