{% extends 'base/auth-layout.html' %}

{% block title %}login{% endblock title %}
{% block content %}
<form action="#" method="post" class="mx-auto w-50">
	{% csrf_token %}

	{% if form.errors%}
      <div class="alert alert-danger alert-dismissible">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <ul>
          {% for field, errors in form.errors.items %} {% for err in errors %}
          <li>{{field}}: {{err}}</li>
          {% endfor %} {% endfor %}
        </ul>
      </div>
	{% endif %} 
	{{form.as_p}}

	<button type="submit" class="btn btn-primary mt-5">Login</button>
	<p>
		Don't have an account?
		<a href="{% url 'auth:create-account' %}">Create account</a>
	</p>
</form>
{% endblock content %}
