<footer class="mt-4" >
    <div class="container my-2">
      <div class="row ">
        <div class="footer-col">
          <h4>Wellis Writting</h4>
          <ul>
            <li><a href="index.html">home</a></li>
            <li><a href="expert.html">expert help</a></li>
            <li><a href="blog.html">blogs</a></li>
            <li><a href="topics.html">topics</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>projects</h4>
          <ul>
            <li><a href="about.html">videos</a></li>
            <li><a href="reviews.html">Testimonials</a></li>
            <li><a href="reviews.html">Clients</a></li>
            <li><a href="">order status</a></li>
            <li><a href="">payment option</a></li>
  
          </ul>
        </div>
        <div class="footer-col">
          <h4>contact us</h4>
          <ul>
            <li><a href="contact.html">Get in touch</a></li>
            <li><a href="">williswritting.com</a></li>
            <li><a href="">shoes</a></li>
            <li><a href="">dress</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>social media</h4>
          <div class="social-links">
          
            <a href="https://web.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://www.instagram..com/"><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
    
        </div>
        </div>
       
      </div>
     
    </div>
     <div>
        <div class="cola"></div>
        <div class="cola">
          <p class="text-center">Copyright &copy; 2023-willis writing.<span>All Rights Reserved.</span></p>
        </div>
      </div>
   </footer>