{% extends "./base.html" %}

{% load static %}

{% block title %}home{% endblock title %}

{% block content %}
<h1>Welcome Home</h1>

<div>
  {% for code, topic in topics %}
    <a href="{% url 'blog:category-detail' code %}">{{topic}}</a><br>
  {% endfor %}
</div>


<!-- hero section -->
<div class="container-fluid p-5 mt-5 mb-5">
  <section class="row mt-4">
    <div class="col-md-6">
      <h4>Access Our Essay Database</h4>
      <p>Gain access to our vast database of topics from different courses that meets all your study needs.</p>
      <a href="downloads.html" class="btn btn-primary mb-2">View More</a>
    </div>
    <div class="col-md-6">
      <h4>Get Essay Expert Help Writing</h4>
      <p>Find assignment help,exam preparation and writting support.Define your task and get assistance within 24
        hours.</p>
      <a href="experthelp.html" class="btn btn-primary mb-2">Get help</a>
    </div>

  </section>


</div>
  <!-- about us section -->
  <div class="container-fluid p-3 mt-3 mb-3" >
    <section class="row mt-4">
      <div class="col-md-6">
        <h5 class="lead text-center mt-4 fw-bold">Wellis writing</h5>
        <p>We support students by providing a wide range of course materials and resources on their
          learning journey as they seek expert help to better understand their coursework and prepare for exams</p>
      </div>
      <div class="col-md-6 ">
        <img src="./images/write1.jpg" alt="" height="300px" width="100%">
      </div>
    </section>

    <section class="row gy-4">
      <div class="col-md-6 ">
        <img src="./images/write2.jpg" alt="" height="300px" width="100%">
      </div>
      <div class="col-md-6">
        <h5 class="lead text-center mt-4 fw-bold">Our Writers</h5>
        <p>Our Writers prioritize the needs of the client and are focused on producing quality
          work.We guarantee that the outputs for customers are of the highest quality since we are dedicated to providing excellent writing
          service covering any topic.</p>
      </div>



    </section>
  </div>

   <!-- essay services begings -->
   <div class="container p-3 mt-3 mb-3">
    <div class="row">
      <div class="col">
        <h2 class="section-title text-center fw-bold">Popular Writing Topics</h2>
        <ul class="flex box">
          <li class="size">Business Management</li>
          <li class="size">Health & Medicine</li> 
          <li class="size">Accounting</li>
          <li class="size">Human Resource</li>
          <li class="size">Marketing</li>
          <li class="size">Finance</li>
          <li class="size">Supply Chain & logistics</li>
          <li class="size">Calculus</li>
          <li class="size">Strategic Management</li>
          <li class="size">Data Analysis</li>
          <li class="size">Literature</li> 
          <li class="size">Sociology</li>
          <li class="size">Philosophy</li>
          <li class="size">Ict</li>
          <li class="size">Diet & Nutrition</li>
          <li class="size">Education</li>
          <li class="size">Politics & Goverment</li>
          <li class="size">Culture</li>
       
        </ul>
        </div>
    </div>
  </div>

   <!-- contact section begins -->
  <section id="contact" class="bg-cover text-dark" style="background-image: url(./images/cover3.jpg); ">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-12 section-intro text-center" data-aos="fade-up">
          <h1>Get in Touch</h1>
          <div class="divider"></div>
          <p>Can't find what you're looking for? Get Expert help by filling this form. <br>We’ll be sure to get
            back to you as soon as possible.

          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 mx-auto" data-aos="fade-up">
          <form action="#" class="row g-4">

            <div class="form-group col-md-6">
              <input type="text" class="form-control" placeholder="Name">
            </div>
            <div class="form-group col-md-6">
              <input type="email" class="form-control" placeholder="Email Adress">
            </div>

            <div class="form-group col-md-12">
              <input type="email" class="form-control" placeholder="Subject">
            </div>
            <div class="form-group col-md-12">
              <textarea name="" id="" cols="30" rows="4" class="form-control"
                placeholder="Please describe how we can assist you"></textarea>
            </div>
            <div class="text-center">
              <button class=" btn btn-primary mb-3" type="submit">Submit</button>
            </div>

          </form>
        </div>
      </div>

    </div>

  </section>

 
  <!-- contact section begins -->
  <section id="contact" class="bg-cover text-dark" style="background-image: url(./images/cover3.jpg); ">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-12 section-intro text-center" data-aos="fade-up">
          <h1>Get in Touch</h1>
          <div class="divider"></div>
          <p>Can't find the solution you're looking for? Get Expert help by filling this form. <br>We’ll be sure to get
            back to you as soon as possible.

          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 mx-auto" data-aos="fade-up">
          <form action="#" class="row g-4">

            <div class="form-group col-md-6">
              <input type="text" class="form-control" placeholder="Name">
            </div>
            <div class="form-group col-md-6">
              <input type="email" class="form-control" placeholder="Email Adress">
            </div>

            <div class="form-group col-md-12">
              <input type="email" class="form-control" placeholder="Subject">
            </div>
            <div class="form-group col-md-12">
              <textarea name="" id="" cols="30" rows="4" class="form-control"
                placeholder="Please describe how we can assist you"></textarea>
            </div>
            <div class="text-center">
              <button class=" btn btn-primary mb-3" type="submit">Submit</button>
            </div>

          </form>
        </div>
      </div>

    </div>

  </section>

{% endblock content %}