<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">Wellis Writting</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mypage"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mypage">
        <ul class="navbar-nav fw-bolder ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link active" href="/downloads">Downloads</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/help">Expert Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Create Account</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
          <a class="btn btn-danger" type="submit" href="/logout">
            logout
          </a>
        </form>
      </div>
    </div>
  </nav>
